:root{
    --primary-color: #27AE60;
    --primary-light: #EBFAEB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-inline: 5.5%;
    padding-block: 3em;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}

.flex-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-wrap{
    flex-wrap: wrap;
}

.btn{
    padding: 1em;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.1em;
}

.text-center{
    text-align: center;
}
.mt-2{
    margin-top: 2em;
}